# Node
node_modules/
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Imagens (se quiser remover do GitHub)
*.png
*.jpg
*.jpeg